body {
    background-color: orange;
    color: darkgreen;
    font-style: oblique;
}

nav {
    height: 6000px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

Header {
    text-align: center;
}